node_modules/
.expo/
.expo-shared/
.web-build/
android/app/build/
android/app/build
/android/app/build/
android/build/
android/build
/android/build/
android/.gradle/
android/.gradle
/android/.gradle/
android/.kotlin/
android/.kotlin
/android/.kotlin/
android/.cxx/
android/.cxx
/android/.cxx/
android/app/.cxx/
android/app/.cxx
/android/app/.cxx/
android/local.properties
/android/local.properties
local.properties
android/app/src/main/assets/modules.json
/android/app/src/main/assets/modules.json
android/app/src/main/assets/
/android/app/src/main/assets/
*.log
*.raw
*.apk
logcat-*.txt
apk-inspect/
/apk-inspect/
.env
